########################################
# Server
########################################
APP_NAME="news-app"
UI_APP_NAME="News App"
DEVELOPER_NAME="Your Name"
NODE_ENV="production"
PORT=3001
STREAM_HTML=true
SALT_ROUNDS=5
JWT_SECRET_KEY="replace_with_secure_jwt_secret"

SESSION_MODE=short
SESSION_SHORT_MINUTES=2
SESSION_MEDIUM_MINUTES=30
SESSION_LONG_DAYS=7

########################################
# Database
########################################
# USE_NEON=true
# NEON_DATABASE_URL="postgresql://username:password@your-neon-host/your_database?sslmode=require&channel_binding=require"
USE_NEON=false
LOCAL_DATABASE_URL="postgresql://username:password@localhost:5432/news_app_db"

########################################
# AWS
########################################
USE_AWS=true
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_S3_BUCKET="your-s3-bucket-name"
AWS_CLOUDFRONT_DOMAIN="https://your-cloudfront-domain.cloudfront.net"

########################################
# API Keys
########################################
NEWS_API_KEY="your_news_api_key"

########################################
# Client
########################################
VITE_PORT=4001
# VITE_API_URL="http://localhost:3001/api"
API_URL="http://localhost:3001/api"